* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid white; */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* background image that stays the same on ALL pages */
#background-image {
    width: 100vw;
    height: 100vh;
    background-image: url("https://c.tenor.com/v4OCwh8W3AcAAAAC/candles-light.gif");
    background-repeat: no-repeat;
    background-size:cover;
}

/* container holding home page info. */
#homepage-container{
    display: flex;
    height: 50vh;
    width: 60vw;
    align-items: center;
    gap: 14vh;
    flex-direction: column;
    background-image: url(https://external-preview.redd.it/bRaraT3JcuGbgDJYUo6rXtjn3J6b5s-dIkVpkgDImaY.jpg?width=640&crop=smart&auto=webp&s=44ffccf59cbd1f81eab5f845ead92a0d74f2f34a);
    background-repeat: no-repeat;
    background-size: cover;
}
/* Welcome to MTG text */
#welcome-text {
    color: red;
    font-size: 40px;
    text-shadow: 2px 2px 20px grey;
}

/* buttons of home page */
#buttons {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-shadow: 2px 2px 20px grey;
    row-gap: 2vh; 
}

#buttons2 {
    display: flex;
    flex-direction: column;
    /* font-size: 20px; */
    text-shadow: 2px 2px 20px grey;
    row-gap: 2vh;
    background-color: red;
    border-radius: 30%;
    width: 20vh;
    margin-left: 20%;
    align-items: center;
}
/* input used for buttons */
input {
    background-color: red;
    border-radius: 30%;
    width: 20vh;
    margin-left: 20%;
}

input:hover {
    background: #ff96ad;
    box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad;
    cursor: pointer;
}

#buttons2:hover {
    background: #ff96ad;
    box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad;
    cursor: pointer;
}

#instructions {
    width: 25vw;
    height: 100%;
    border: 5px outset black;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ol { 
    padding: 8%;
    list-style-type: upper-roman;
    overflow-y: scroll;
}

li {
    margin-bottom: 2%;
}


#game-container {
    display: flex;
    height: 100%;
    width: 40%;
    align-items: stretch;
    justify-content: stretch;
    flex-direction: column;
    background-image: url(/images/playmat.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}



#player-cards  {
    display: flex;
    gap: 1vw;
    justify-content: flex-start;
    align-items: center;
    flex:1;    
    margin-left: 5%
}


#enemy-cards {
    display: flex;
    gap: 1vw;
    justify-content: flex-start;
    align-items: center;
    flex:1;
    margin-left: 5%;
}

#card1 > img{  
    height: auto;
    width: 200px;
}
#card2 > img{
    height: auto;
    width: 200px;
}
#card3 > img{
    height: auto;
    width: 200px;
}
#card4 > img{
    display: inline-block;
    height: auto;
    width: 200px;    
}
#card5 > img{
    height: auto;
    width: 200px;
}
#card6 > img{
    height: auto;
    width: 200px;
}


@media (max-width:1600px){
    #game-container{
        display:flex;
        flex-direction: column ;
        background-size:cover;
        height: 100%;
        width: 100%;
       
    }

    #enemy-cards, #player-cards {
      overflow-x: scroll;
      display: flex;
      flex-direction: column;
    }

    #buttons1 {
       display: flex;
    }

    #health {
         width: 100%;
        display: flex;
        margin-left:20%;
    }
}

#health {
    display: flex;
    flex-direction: column;
    color:red;
    margin-right: 1%;
    padding-left:25%;
}

#enemy-health {
  /* margin-top: -55%; */
    margin-bottom: 45%;
    width: auto;
    display: flex;
    flex-direction: column;
    
}

#player-health {
    width: auto;
    display: flex;
    flex-direction: column;
}
.pFont, .eFont {
    display: flex;
    justify-content: flex-start;
    color: red;
    font-size: 3em;   
}

/* ===== MODAL BOX ===== */
/* Copied from youtube tutorial */

#container {
position: fixed;
/* display: flex; */


}

.btn-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    background-image: url(https://filterforge.com/filters/11914.jpg);
    font-family: 'Oswald', sans-serif;
    font-size: large;
}
.btn {
    transition: all 0.5s ease;
    margin-top: 15%;
}

.modal {
    width: 50%;
    margin-left: -70%;
    margin-top: -30vh;
    display: flex;
    
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: none;
    box-shadow: 0px 0px 15px 2px rgb(82, 78, 78);
    animation: opacity 0.3s ease;
    font-family: 'Oswald', sans-serif;
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}

.modal-header,
.modal-footer {
    width: 100%;
    height: 8vh;
    background-image: url(https://filterforge.com/filters/11914.jpg);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 20px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
.modal-footer{
    justify-content: center;
}
.modal-footer h3 {
    font-weight: 100;
    font-size: 18px;
}
.close-btn {
    margin-left: auto;
    font-size: 30px;
    color: #ddd;
    cursor: pointer;
    transition: all 0.3s ease;
}
.close-btn:hover {
    transform: scale(1.2);
    color: red
}
.modal-content {
    padding: 20px 20px;
   background-image: url(https://i.pinimg.com/originals/80/0d/32/800d3216000254e1a1be96fce2c00132.jpg);
   font-family: 'Oswald', sans-serif;
   color: rgb(204, 45, 45);
   font-weight: 500;
   

 
}
.modal-content h5 {
    padding-bottom: 12px;
   
}
.modal-content p {
    font-size: 12px;
    line-height: 20px;
    text-align: justify;
    padding: 5px 0px;
}
#buttons1 {
    /* display: flex; */
    /* row-gap: 5vh; */
    /* flex-direction: column; */
    margin-bottom: 10vh;
    padding-left:1% ;
    padding-right:25%
}