* { 
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

}
/* background image that stays the same on ALL pages */
#background-image {
    width: 100vw;
    height: 100vh;
    background-image: url("https://c.tenor.com/v4OCwh8W3AcAAAAC/candles-light.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

/* container holding home page info. it wil disappear */
#homepage-container{
    display: flex;
    height: 50vh;
    width: 60vw;
    align-items: center;
    gap: 14vh;
    flex-direction: column;
    background-image: url(https://external-preview.redd.it/bRaraT3JcuGbgDJYUo6rXtjn3J6b5s-dIkVpkgDImaY.jpg?width=640&crop=smart&auto=webp&s=44ffccf59cbd1f81eab5f845ead92a0d74f2f34a);
    background-repeat: no-repeat;
    background-size: cover;
}
/* Welcome to MTG text */
#welcome-text {
    color: red;
    font-size: 40px;
    text-shadow: 2px 2px 20px grey;
    
    
}

/* buttons of home page */
#buttons {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-shadow: 2px 2px 20px grey;
    row-gap: 2vh;
}
/* input used for buttons */
input {
    background-color: red;
    border-radius: 30%;
    width: 20vh;
}

input:hover {
    background: #ff96ad;
    box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad;
    cursor: pointer
    
}

#instructions {
    width: 25vw;
    height: 100%;
    border: 5px outset black;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

ol {
    
    padding: 8%;
    list-style-type: upper-roman;
    overflow-y: scroll;
    
}

li {
    margin-bottom: 2%;
}

#game-container {
    display: flex;
    height: 90%;
    width: 40%;
    /* align-items: center; */
    /* justify-content: center; */
    /* gap: 14vh; */
    /* flex-direction: column; */
    background-image: url(/images/86376.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    
}

#buttons1 {
    display: flex;
    row-gap: 5vh;
    flex-direction: column;
    margin-bottom: 10vh;

}

#player-cards  {
    display: flex;
    gap: 1vw;
      /* margin-top: 70%; */
    margin-left:-16%;  
    /* width: 100%; */
    /* align-items: flex-end;     */
    /* justify-content: space-between; */
    
    

}

#enemy-cards {
    display: flex;
    gap: 1vw;
     /* margin-top: 10%;
    margin-left:30%;  */
    /* width: 100% */
    /* justify-content: center; */
    
}

#card1 > img{
    background-image: url(../images/MTG\ card\ enemy.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    
    height: 20vh;
    width: 5vw;
    margin-top: 100%;
    margin-left: 200%
}
#card2 > img{
    background-image: url(../images/MTG\ card\ enemy.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    
    height: 20vh;
    width: 5vw;
    margin-top: 100%;
    margin-left: 200%
}
#card3 > img{
    background-image: url(../images/MTG\ card\ enemy.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    
    height: 20vh;
    width: 5vw;
    margin-top: 100%;
    margin-left: 200%
}
#card4 > img{
    background-image: url(../images/MTG\ card.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    
    height: 20vh;
    width: 5vw;
    margin-top: 500%;
    
}
#card5 > img{
    background-image: url(../images/MTG\ card.jpg);
    background-repeat: no-repeat;
    background-size:contain;
   
    height: 20vh;
    width: 5vw;
    margin-top: 500%;
    
}
#card6 > img{
    background-image: url(../images/MTG\ card.jpg);
    background-repeat: no-repeat;
    background-size:contain;

    height: 20vh;
    width: 5vw;
    margin-top: 500%;
    
}
